.headertag-container{
    background-image: url('https://img.freepik.com/free-photo/vivid-blurred-colorful-background_58702-2655.jpg?w=740&t=st=1681294723~exp=1681295323~hmac=4a084af37b6bfa25a12ca8e22ed1ad5cd1231c1c44724727c62442f043e11e1f');
    background-image: linear-gradient(to right, rgba(233, 167, 233, 0.829), rgb(238, 232, 232)
    );
    width: auto;
    height: 220px;
    border-radius: 10px;
}

.headertag-container h1{
    padding-top: 100px;
}

@media screen and (max-width: 600px) {
    .headertag-container{
        width: 500px;
    }
}

.jobdetail-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.description-container{
    text-align: left;
    padding-left: 50px;
}
.description-container p{
    font-size: 20px;
}
.salarydetail-container{
    font-size: 20px;
    text-align: left;
    margin-left: 70px;
    background-color: rgb(237, 235, 240);
    border-radius: 10px;
    padding: 10px
}
.salarydetail-container p{
    padding-left: 40px;
}

.applyNow-btn{
    width: 100%;
    height: 60px;
    background-color: rgb(186, 128, 240);
    color: black;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    margin-top: 10px;
}

@media screen and (max-width: 600px) {
    .jobdetail-container{
        display: inline;
    }
    .description-container{
        width: 400px;
    }
    .salarydetail-container{
        width: 400px;
    }
}

