.header-container{
    width: 1070px;
    height: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}

.paragraph-container{
    width: 520px;
    padding-left: 20px;
    left: 0;
}

.paragraph-container h1{
    font-size: 75px;
}

.paragraph-container button{
    width: 150px;
    height: 60px;
    background-color: blueviolet;
    color: white;
    padding: 19px 20px 19px 20px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
}

.header-container img{
    width: 526px;
    height: 554px;
}

.jobCategory-container{
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 600px) {
    .header-container{
        width: 300px;
        height: auto;
    }
    .paragraph-container{
        padding-inline-start: 0%;
        left: 0;
    }
    .paragraph-container h1{
        font-size:large;
    }

    .header-container img{
        width: 250px;
        height: 324px;
    }
    .jobCategory-container{
        display: block;
    }
}


.featuredJob-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    Width: 648px;
    Height: 300px;
    padding:0 150px;
    margin-left: 10px;
    align-items: center;
}

.featuredJob-container button{
    margin-left: auto;
}

@media screen and (max-width: 600px) {
    .featuredJob-container{
        display: inline;
        width: auto;
    }
}
 
